@page
@model newadmin.Pages.EditBlogtest2.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Secondblog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Secondblog.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Secondblog.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Secondblog.Discription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Secondblog.Discription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Secondblog.Contex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Secondblog.Contex)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Secondblog.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
